
%h2 Events
%table.table
  %tbody
    - Choo::Event.all.each do |event|
      %tr
        %td
          = event.event_type
          %p
            %small= event.aggregate_id
        %td
          = event.payload
        %td