
%h1 Resources
%table.table
  %tbody

    - Choo::Application.resources.each do |resource, data|
      %tr
        %td
          %a{href: "/admin/resources/#{resource}"}= resource
        %td
          = data[:events].count
          events
        %td
          = data[:commands]
          commands