%h2 Resource #{resource}

.row
  .col-md-6
    .card
      .card-header Events
      .card-body
        = Choo::Application.resources.inspect

  .col-md-6
    .card
      .card-header Commands
      .card-body
        
%table.table
  %tbody
    - resource.new.attributes.each do |attribute,value|
      %th= attribute

  %tbody
    - resource.all.each do |entry|
      %tr
        - entry.attributes.each do |attribute,value|
          %td= value
