%h1 Routes
%table.table
  %tbody

    - Choo::Application.routes.each do |path, methods|
      - methods.each do |method, route|
        %tr
          %td
            = method.upcase
          %td
            = path
          %td
            = route["summary"]

