%h1 Routes
%table.table
  %thead
    %th Method
    %th Path
    %th Summary
    %th Routing type
  %tbody

    - Choo::Application.routes.each do |path, methods|
      - methods.each do |method, route|
        %tr
          %td
            = method.upcase
          %td
            %code= path
          %td
            = route["summary"]
          %td
            - if route["response"].present?
              .badge.badge-secondary Raw response

