%h1 Routes
%table.table
  %thead
    %th Method
    %th Path
    %th Summary
    %th Routing type
  %tbody

    - Choo::Application.routes.each do |route|

      %tr
        %td
          = route[:method]
        %td
          %code= route[:path]
        %td
          = route[:summary]
        %td
          - if route[:type] == :response
            .badge.badge-secondary Raw response
          - elsif route[:type] == :command
            .badge.badge-secondary
              Command
              %a{href:"#", style:"color:lightblue;"}= route[:value]
          - elsif route[:type] == :query
            .badge.badge-secondary
              Query
              %a{href:"#", style:"color:lightblue;"}=route[:value]

